<div *ngIf="categories.length > 0" class="container">

  <app-filterable-dropdown id="categorySelect" [data]="categoryNames" placeHolder="Choose a Category"
    (dataSelected)="categorySelected($event)">
  </app-filterable-dropdown>

  <app-filterable-dropdown *ngIf="selectedCategoryIdx !== -1 && category.subCategories.length > 0"
    id="subCategorySelect" [data]="subCategoryNames" placeHolder="Choose a Sub Category"
    (dataSelected)="subCategorySelected($event)">
  </app-filterable-dropdown>

  <select id="difficultySelect" [(ngModel)]="selectedDifficulty" (ngModelChange)="checkSelectorValid()">
    <option value="">Select a difficulty</option>
    <option *ngFor="let d of difficulties" [ngValue]="d">
      {{ d }}
    </option>
  </select>

  <button id="createBtn" (click)="submit()" [disabled]="!isValid || isLoading">
    Create
  </button>
</div>